.about-section {
    padding: 50px;
    background-color: #e60000; 
    color: #ffffff; 
}

.about-section h2 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 20px;
}
