.proof-of-concept {
    background-color: black;
    color: white;
    padding: 20px;
}

.card {
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 20px;
}
.player-card {
    display: inline-block;
    margin: 10px;
    width: calc(25% - 20px); /* Width adjustment for cards to appear in rows */
}

